.comments{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border:1px solid white;
    gap:1rem;
    width:100%;
}

.comments >div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 5px;
    width:100%;
}

.comments div img{
    border-radius: 50%;
}

.comments .list .user p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comments .more{
    cursor: pointer;
    width:100%;
    font-size: 1.2rem;
    text-transform: capitalize;
    border:1px solid white;
    padding: 5px;
    border-radius: 20px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}