.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}

.home img{
    width:30%;
    cursor: pointer;
    box-shadow: 5px 5px 2px white, -5px -5px 2px white;
}

.home .load_more{
    width:100%;
}

@media only screen and (max-width: 700px) {

    .home img{
        width:40%;
    }
}