.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}
.home >div{
    width:30%;
    height:40vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.home div img{
    width:100%;
    cursor: pointer;
    border:1px solid white;
}

.home div p{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    margin-left: 1rem;
}


.home .load_more{
    width:100%;
}

@media only screen and (max-width: 700px) {
    .home >div{
        width:40%;
        height: 25vh;
        justify-content: center;
    }

    .home div img{
        width:100%;
    }
    .home div p{
        font-size: 0.9rem;
    }

}