
.recomend .list p{
    width:200px;
}

.recomend .list img{
    object-fit: contain;
    border:1px solid white;
}

@media only screen and (max-width: 700px) {
    .recomend{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .recomend .list img{
        object-fit: contain;
        border:1px solid white;
    }

    .recomend .list p{
        width:300px;
    }
}