    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    }

    #root{
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    
    .navbar{
        padding: 1rem;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        gap:1rem;
    }
    .navbar .Wrap{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar a .Wrap h1{
        font-size: 1rem;
    }

    .navbar a{
        text-decoration: none;
        color: white;
        border-radius: 50%;
    }
    .navbar a:hover{
        color:red;
    }

    .navbar>a{
        font-size: 1.5rem;
    }

    .routes{
        color:white;
    }
    

        @media only screen and (max-width: 700px) {
            #root{
            min-width:350px;
            }
            .navbar{
                display: flex;
                align-items: center;
                justify-content:center;
                padding: 16px 0px;
            }
            .navbar a{
            font-size: 1.5rem;
            }
            
            .navbar a .Wrap h1{
                display: none;
            }
            
        }