.login{
    margin: 0 auto;
    margin-top: 10vh;
    width: 400px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
    border:1px solid white;
    gap:1rem;
    height: 75vh;
    padding: 10px;
    color: white;
}

.login form{
    display: flex;
    flex-direction: column;
    width:100%;
    gap:1rem;
    min-height: 25vh;
}

.login form >div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.login form div label{
    display: block;
    color: white;
    font-size: 1.2rem;
}

.login form div input{
    display: block;
    width:300px;
    padding: 15px 5px;
    color:white;
    font-size: 1rem;
    outline:2px solid white;
    border:2px solid white;
    border-radius: 20px;
}

.login form .login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

button[type="submit"]{
    outline:2px solid white;
    border:2px solid white;
    color:white;
    width:90%;
    border-radius: 25px;
    background-color: rgb(16, 16, 201);
    padding: 10px 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

button[type="submit"]:hover{
    transform: scale(0.98);
}