.signup-form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 75vh;
    margin-top: 10vh;
    }

    .signup-form-container form {
        display: flex;
        align-items: flex-start;
        justify-content:space-evenly;
        flex-direction: column;
        width:100%;
        min-height: 50vh;
    }
    .signup-form-container div {
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    
    .signup-form-container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .signup-form-container form {
        display: flex;
        flex-direction: column;
    }
    
    .signup-form-container label {
        margin-bottom: 5px;
        font-size: 16px;
        letter-spacing: 1px;
    }
    
    .signup-form-container input {
    display: block;
    width:300px;
    padding: 15px 5px;
    color:white;
    font-size: 1rem;
    outline:2px solid white;
    border:2px solid white;
    border-radius: 20px;
    }
    
    .signup-form-container .error {
    border:2px solid white;
    color:white;
    width:90%;
    border-radius: 15px;
    background-color: rgb(16, 16, 201);
    padding: 10px 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out; 
    }
    
    .signup-form-container button {
        font-size: 16px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        margin: 0 auto;
    }

    .signup-form-container .fields div label,.signup-form-container .fields div input{
        display: block;
    }

    .signup-form-container .fields>div{
        align-items: center;
        justify-content: space-between;
    }

    .signup-form-container .fields .vanish{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width:100%;
    }

    .signup-form-container .fields .vanish input{
        display: block;
        color:white;
        margin: 0;
        padding: 10px;
        width:50%;
    }

    .signup-form-container .fields button{
        border:1px solid white;
    }
    .signup-form-container form div input{
        width:75%;
    }
    .signup-form-container .fields .vanish button{
        display: block;
        background-color: red;
        outline: 2px solid white;
        border:2px solid white;
        color:white;
        width:80%;
        border-radius: 25px;
        padding: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: all 0.25s ease-in-out; 
    }
    .signup-form-container .fields .vanishButton{
        outline: 2px solid white;
        border:1px solid white;
        background-color: #007BFF;
        color:white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 25px;
        font-size: 20px;
        cursor: pointer;
    }

    button[type="submit"]{
        outline:2px solid white;
        border:2px solid white;
        color:white;
        width:90%;
        border-radius: 25px;
        background-color: rgb(16, 16, 201);
        padding: 10px 5px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
    }
    
    button[type="submit"]:hover{
        transform: scale(0.98);
    }
